---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import {sortPosts} from "../helpers/helpers"

const allPosts = await getCollection("blog")

console.log(sortPosts(allPosts))

---

<Layout title="Elvis' blog" description="Home page of my blog">
	<div class=" font-bold text-4xl text-flame">Personal thoughts and whatever I'd like to share.</div>

	<div class="w-full mt-8">
		<p class="font-bold text-crayola-blue">Recent</p>
		<hr />
		<ul class="mt-4">
			{allPosts.map((post) => (
				<li class="grid grid-cols-3">
					<p class="text-gray-400 text-sm font-excalifont">{post.data.publishDate.toISOString().split('T')[0].replace(/-/g, "-")}</p>
					<a href=`/posts/${post.slug}` class="col-span-2 underline underline-offset-4 decoration-yellow-green hover:text-yellow-green">{post.data.title}</a>
				</li>
			))}
		</ul>
	</div>
</Layout>