---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import {sortPosts} from "../helpers/helpers"

const allPosts = await getCollection("blog")

console.log(sortPosts(allPosts))

---

<Layout title="Elvis' blog" description="Home page of my blog">
	<div class=" font-bold text-4xl text-flame">Personal thoughts and whatever I'd like to share.</div>

	<div class="w-full mt-8">
		<p class="font-bold text-crayola-blue">Recent</p>
		<hr />
		<ul class="mt-4">
			{allPosts.map((post) => (
				<li>
					{post.data.title}
				</li>
			))}
		</ul>
	</div>
	
	
</Layout>