---
import { Image } from "astro:assets";
import neskLogoSmall from "../../src/assets/nesk-logo-small.png";
---

<header class="flex justify-between items-center p-4 w-full">
  <a class="font-bold hover:underline hover:underline-offset-4 decoration-purple-500 font-excalifont" href="/">
    elvis' blog
  </a>

  <a
    href="/"
    class="hover:underline hover:underline-offset-4 decoration-purple-500 font-excalifont font-bold"
  >
    home
  </a>
</header>
